
.root{
  -fx-font-size: 12pt;
  -fx-font-family: "Helvetica";
  /* Set the background color of the scene to black */

  -fx-background-color: #484545;


  /* Set the color of all text nodes to white */

  /*button-color: rgb(200, 200, 200);*/
  /*background-color: rgb(235, 235, 235);*/
  /*text-color: rgb(255, 0, 0);*/
  /*board-color: white;*/
  /*title-color: #4EA8DE;*/
  /*delete-color: #6930C3;*/
  /*tile-info-text-color: #5E60CE;*/
  /*-fx-base: button-color;*/
  /*-fx-background: background-color;*/
  /*-fx-text-fill: text-color;*/
}


Text {
  -fx-fill: white;
}

Label {
  -fx-text-fill: white;
}


#welcome-text {
  -fx-text-fill: red;
  -fx-font-size: 30px;
}


.game-box {
  -fx-background-color: red;
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-pref-width: 100;
  -fx-pref-height: 100;
}

.game-box:hover {
  -fx-cursor: hand;
}


