button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    font-size: 16px; /* Font size */
}

/* Style for left pane */
.leftPane {
    background-color: #f2f2f2; /* Light grey background */
}

/* Style for right pane */
.rightPane {
    background-color: white; /* White background */
}

.title {
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 32px;
}


body {
    background-color: red;
}